<template>
  <section class="banner">
    <!-- <video width="100%" height="100vXXh" autoplay loop>
      <source src="~/assets/video/yalpiz.mp4" type="video/mp4" />
    </video> -->
  </section>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style></style>
