<template>
  <header>
    <div class="container">
      <div class="header-wrapper">
        <div class="header-logo">
          <a href="/"><img src="~/assets/images/logo.png" alt="" /></a>
        </div>
        <div class="header-menu">
          <ul>
            <li>
              <nuxt-link to="/menu">{{ $t("Menu") }}</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">{{ $t("Zab") }}</nuxt-link>
            </li>
            <li @click="showModal = true">
              {{ $t("Cater") }}
            </li>
            <li>
              <nuxt-link to="">{{ $t("Del") }}</nuxt-link>
            </li>
            <li>
              <nuxt-link to="">{{ $t("About") }}</nuxt-link>
            </li>
            <LayoutsHeaderLang />
          </ul>
          <LayoutsModal v-show="showModal" @close-modal="showModal = false" />
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  data() {
    return {
      showModal: false,
    };
  },
};
</script>

<style></style>
