* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy';
}

p{
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
}

.border-waves-before,
.border-waves-after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 14px;
  color: #FFFFFF;
}

.border-waves-before svg,
.border-waves-after svg {
  display: block;
  width: 100%;
}

.border-waves-before {
  top: 70px;
  z-index: 20;
}

.border-waves-after {
  bottom: 86px;
  z-index: 21;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 30px;
}

.header-wrapperin {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 30px;
}

.header-logo {
  margin-right: 500px;
}

.header-logo img {
  height: auto;
  width: 200px;
}

.header-menu {
 display: flex;
 align-items: center;
}

.header-menu ul {
  display: flex;
  align-items: center;
}

.header-menu ul li {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding: 24px;
}

.header-wrapperin .header-menu ul li a {
  color: #000;
}

.banner {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  background-image: url('~/assets/images/pic.jpg');
}

/* Menu page */
.menu-banner {
  width: 100%;
  height: 100vh;
  background: url('~/assets/images/menu.jpg') no-repeat center / cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-banner h1 {
  font-size: 80px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
}

.firstly {
  margin-top: 80px;
}

.lunch {
  margin-top: 80px;
  padding: 78px 0;
  position: relative;
}

.lunch-title {
  background: url('~/assets/images/lunch.jpg') no-repeat center / cover;
  background-attachment: fixed;
  min-height: 396px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lunch-title h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
}

.dinner {
  margin-top: 80px;
  padding: 78px 0;
  position: relative;
}

.dinner-title {
  background: url('~/assets/images/dinner.jpg') no-repeat center / cover;
  background-attachment: fixed;
  min-height: 396px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dinner-title h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
}

.drinks {
  margin-top: 80px;
  padding: 78px 0;
  position: relative;
}

.drinks-title {
  background: url('~/assets/images/drinks.jpg') no-repeat center / cover;
  background-attachment: fixed;
  min-height: 396px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drinks-title h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
}



.menu-list--item {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.menu-list--item small {
  position: relative;
  background-color: #fff;
  z-index: 2;
}

.menu-list--item strong {
  position: relative;
  background-color: #fff;
  z-index: 2;
}

.menu-list--item p {
  position: absolute;
  bottom: -20px;
}

.dots {
  position: absolute;
  top: 17px;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0;
  border: 0;
  height: 3px;
  display: block;
  background-image: radial-gradient(circle closest-side, currentColor 99%, transparent 1%);
  background-position: bottom;
  background-size: 6px 3px;
  background-repeat: repeat-x;
}

/* Menu page */
