<template>
  <div class="">
    <Header />
    <section class="menu-banner">
      <h1>{{ $t("Menu") }}</h1>
    </section>
    <section class="content">
      <div class="container">
        <div class="firstly">
          <div class="row">
            <div class="col-lg-6">
              <div class="menu-list">
                <h2 class="menu-list--title">{{$t("Fir")}}</h2>
                <hr class="separator" />
                <ul class="menu-list--items">
                  <li
                    class="menu-list--item"
                    v-for="meal in mealers"
                    :key="meal.id"
                  >
                    <small>{{ meal.title }}</small>
                    <span class="dots"></span>
                    <strong>$14.95</strong>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="menu-list">
                <h2 class="menu-list--title">{{$t("Fir")}}</h2>
                <hr class="separator" />
                <ul class="menu-list--items">
                  <li
                    class="menu-list--item"
                    v-for="meal in mains"
                    :key="meal.id"
                  >
                    <small>{{ meal.title }}</small>
                    <span class="dots"></span>
                    <strong>{{ meal.price }}</strong>
                    <p>{{ meal.tar }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lunch">
        <div class="lunch-title">
          <h1>{{ $t("Sec") }}</h1>
        </div>
        <div class="border-waves-before">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 38 28"
            width="19px"
            height="14px"
          >
            <defs>
              <pattern
                id="wavePattern"
                width="38"
                height="28"
                patternUnits="userSpaceOnUse"
                fill="none"
              >
                <path
                  d="M-8.8817842e-16,-0.000266139407 L-8.8817842e-16,28 C9,28 13,16 19,16 C25,16 29,28 38,28 L38,-0.000266139407 C29,8.67361738e-19 25,12 19,12 C13,12 9,0 -8.8817842e-16,-0.000266139407 Z"
                  id="Path-3"
                  fill="currentColor"
                ></path>
              </pattern>
            </defs>
            <rect
              x="-10000"
              class="rect-anchor-50-50"
              width="20000"
              height="28"
              style="fill: url(#wavePattern)"
            ></rect>
          </svg>
        </div>
        <div class="border-waves-after">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 38 28"
            width="19px"
            height="14px"
          >
            <defs>
              <pattern
                id="wavePattern"
                width="38"
                height="28"
                patternUnits="userSpaceOnUse"
                fill="none"
              >
                <path
                  d="M-8.8817842e-16,-0.000266139407 L-8.8817842e-16,28 C9,28 13,16 19,16 C25,16 29,28 38,28 L38,-0.000266139407 C29,8.67361738e-19 25,12 19,12 C13,12 9,0 -8.8817842e-16,-0.000266139407 Z"
                  id="Path-3"
                  fill="currentColor"
                ></path>
              </pattern>
            </defs>
            <rect
              x="-10000"
              class="rect-anchor-50-50"
              width="20000"
              height="28"
              style="fill: url(#wavePattern)"
            ></rect>
          </svg>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="menu-list">
                <ul class="menu-list--items">
                  <li
                    class="menu-list--item"
                    v-for="meal in lunch"
                    :key="meal.id"
                  >
                    <small>{{ meal.title }}</small>
                    <span class="dots"></span>
                    <strong>{{ meal.price }}</strong>
                    <p>{{ meal.tar }}</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="menu-list">
                <ul class="menu-list--items">
                  <li
                    class="menu-list--item"
                    v-for="meal in lunch"
                    :key="meal.id"
                  >
                    <small>{{ meal.title }}</small>
                    <span class="dots"></span>
                    <strong>{{ meal.price }}</strong>
                    <p>{{ meal.tar }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dinner">
        <div class="dinner-title">
          <h1>{{ $t("Sal") }}</h1>
        </div>
        <div class="border-waves-before">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 38 28"
            width="19px"
            height="14px"
          >
            <defs>
              <pattern
                id="wavePattern"
                width="38"
                height="28"
                patternUnits="userSpaceOnUse"
                fill="none"
              >
                <path
                  d="M-8.8817842e-16,-0.000266139407 L-8.8817842e-16,28 C9,28 13,16 19,16 C25,16 29,28 38,28 L38,-0.000266139407 C29,8.67361738e-19 25,12 19,12 C13,12 9,0 -8.8817842e-16,-0.000266139407 Z"
                  id="Path-3"
                  fill="currentColor"
                ></path>
              </pattern>
            </defs>
            <rect
              x="-10000"
              class="rect-anchor-50-50"
              width="20000"
              height="28"
              style="fill: url(#wavePattern)"
            ></rect>
          </svg>
        </div>
        <div class="border-waves-after">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 38 28"
            width="19px"
            height="14px"
          >
            <defs>
              <pattern
                id="wavePattern"
                width="38"
                height="28"
                patternUnits="userSpaceOnUse"
                fill="none"
              >
                <path
                  d="M-8.8817842e-16,-0.000266139407 L-8.8817842e-16,28 C9,28 13,16 19,16 C25,16 29,28 38,28 L38,-0.000266139407 C29,8.67361738e-19 25,12 19,12 C13,12 9,0 -8.8817842e-16,-0.000266139407 Z"
                  id="Path-3"
                  fill="currentColor"
                ></path>
              </pattern>
            </defs>
            <rect
              x="-10000"
              class="rect-anchor-50-50"
              width="20000"
              height="28"
              style="fill: url(#wavePattern)"
            ></rect>
          </svg>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="menu-list">
                <ul class="menu-list--items">
                  <li
                    class="menu-list--item"
                    v-for="meal in dinner"
                    :key="meal.id"
                  >
                    <small>{{ meal.title }}</small>
                    <span class="dots"></span>
                    <strong>{{ meal.price }}</strong>
                    <p>{{ meal.tar }}</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="menu-list">
                <ul class="menu-list--items">
                  <li
                    class="menu-list--item"
                    v-for="meal in dinner"
                    :key="meal.id"
                  >
                    <small>{{ meal.title }}</small>
                    <span class="dots"></span>
                    <strong>{{ meal.price }}</strong>
                    <p>{{ meal.tar }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="drinks">
        <div class="drinks-title">
          <h1>{{ $t("Drink") }}</h1>
        </div>
        <div class="border-waves-before">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 38 28"
            width="19px"
            height="14px"
          >
            <defs>
              <pattern
                id="wavePattern"
                width="38"
                height="28"
                patternUnits="userSpaceOnUse"
                fill="none"
              >
                <path
                  d="M-8.8817842e-16,-0.000266139407 L-8.8817842e-16,28 C9,28 13,16 19,16 C25,16 29,28 38,28 L38,-0.000266139407 C29,8.67361738e-19 25,12 19,12 C13,12 9,0 -8.8817842e-16,-0.000266139407 Z"
                  id="Path-3"
                  fill="currentColor"
                ></path>
              </pattern>
            </defs>
            <rect
              x="-10000"
              class="rect-anchor-50-50"
              width="20000"
              height="28"
              style="fill: url(#wavePattern)"
            ></rect>
          </svg>
        </div>
        <div class="border-waves-after">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 38 28"
            width="19px"
            height="14px"
          >
            <defs>
              <pattern
                id="wavePattern"
                width="38"
                height="28"
                patternUnits="userSpaceOnUse"
                fill="none"
              >
                <path
                  d="M-8.8817842e-16,-0.000266139407 L-8.8817842e-16,28 C9,28 13,16 19,16 C25,16 29,28 38,28 L38,-0.000266139407 C29,8.67361738e-19 25,12 19,12 C13,12 9,0 -8.8817842e-16,-0.000266139407 Z"
                  id="Path-3"
                  fill="currentColor"
                ></path>
              </pattern>
            </defs>
            <rect
              x="-10000"
              class="rect-anchor-50-50"
              width="20000"
              height="28"
              style="fill: url(#wavePattern)"
            ></rect>
          </svg>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="menu-list">
                <ul class="menu-list--items">
                  <li
                    class="menu-list--item"
                    v-for="meal in drinks"
                    :key="meal.id"
                  >
                    <small>{{ meal.title }}</small>
                    <span class="dots"></span>
                    <strong>{{ meal.price }}</strong>
                    <p>{{ meal.tar }}</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="menu-list">
                <ul class="menu-list--items">
                  <li
                    class="menu-list--item"
                    v-for="meal in drinks"
                    :key="meal.id"
                  >
                    <small>{{ meal.title }}</small>
                    <span class="dots"></span>
                    <strong>{{ meal.price }}</strong>
                    <p>{{ meal.tar }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      mealers: [
        {
          title: "hello",
          price: "$15.97",
          tar: "Asparagus, hens egg, toasted sunflower seeds, Spenwood cheese",
        },
        {
          title: "heasdasllo",
          price: "$19.97",
        },
      ],

      mains: [
        {
          title: "hello",
          price: "$13.97",
        },
        {
          title: "heasdasllo",
          tar: "Asparagus, hens egg, toasted sunflower seeds, Spenwood cheese",
          price: "$16.97",
        },
        {
          title: "heasdasllo",
          tar: "Asparagus, hens egg, toasted sunflower seeds, Spenwood cheese",
          price: "$16.97",
        },
        {
          title: "heasdasllo",
          tar: "Asparagus, hens egg, toasted sunflower seeds, Spenwood cheese",
          price: "$16.97",
        },
      ],

      lunch: [],

      dinner: [],

      drinks: [],
    };
  },
};
</script>

<style>
</style>