<template>
  <div class="calendar">
    <h2>{{ $t("Book") }}</h2>
    <b-form-datepicker
      v-model="value"
      :min="min"
      :max="max"
      :locale="$i18n.locale"
    ></b-form-datepicker>
    <div class="quantity">
      <h4 class="quantity-title">{{ $t("How") }}</h4>
      <div
        class="quantity-body d-flex align-items-center justify-content-center"
      >
        <button
          :disabled="isDisabled"
          class="btn btn--minus"
          @click="minusAdult"
        >
          -
        </button>
        <!-- <span class="text-2xl">Adult</span> -->
        <p class="total">{{ adult }}</p>
        <button class="btn btn--plus" @click="addAdult">+</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    const now = new Date();
    const today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
    // 15th two months prior
    const minDate = new Date(today);
    minDate.setMonth(minDate.getMonth() - 2);
    minDate.setDate(15);
    // 15th in two months
    const maxDate = new Date(today);
    maxDate.setMonth(maxDate.getMonth() + 2);
    maxDate.setDate(15);

    return {
      value: "",
      min: minDate,
      max: maxDate,
      adult: 0,
    };
  },
  methods: {
    addAdult() {
      this.adult += 1;
    },
    minusAdult() {
      this.adult -= 1;
    },
  },
  computed: {
    isDisabled: function () {
      if (this.adult == 0) {
        return true;
      } else {
        return false;
      }
    },
  },
};
</script>

<style scoped>
.calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  flex-direction: column;
}

.calendar::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(000, 000, 000, 0.7);
  z-index: -1;
}

.form-control {
  width: 35%;
}

.btn {
  background: #000;
  border-color: #000;
  color: #fff;
  font-size: 20px;
  width: 45px;
  z-index: 4;
}
.btn--plus {
  margin-left: 20px;
}
.btn--minus {
  margin-right: 20px;
}
.total {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #000;
}
</style>