<template>
  <transition name="modal-fade">
    <div class="modal-overlay" @click="$emit('close-modal')">
      <div class="modall" @click.stop>
        <h4>{{ $t("Call") }}</h4>
        <label id="lbl">{{ $t("Tel") }}</label>
        <input type="text" v-mask="'+998-## ###-##-##'" v-model="myInputModel" />
        <button>{{ $t("Send") }}</button>
      </div>
      <div class="close" @click="$emit('close-modal')">
        <img class="close-img" src="~/assets/svg/close-icon.svg" alt="" />
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  data: () => ({
    myInputModel: "+998-## ###-##-##",
  }),
};
</script>

<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(000, 000, 000, 0.7);
  z-index: 1112;
}
.modall {
  background-color: white;
  margin-top: 15%;
  padding: 60px 30px;
  border-radius: 20px;
  text-align: center;
}
.close {
  margin: 12% 0 0 16px;
  cursor: pointer;
}
.close-img {
  width: 30px;
}
.check {
  width: 150px;
}

button {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  margin-top: 50px;
  outline: unset;
  border: none;
  padding: 12px 15px;
  border-radius: 5px;
}
.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}
.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.5s ease;
}

.modall h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #111111;
  margin-bottom: 60px;
  text-align: center;
}

.modall input {
  width: 100%;
  background: unset;
  border: unset;
  border-bottom: 1px solid #111111;
  padding-bottom: 10px;
  margin-bottom: 24px;
  transition: 0.3s;
  color: #000;
}

.modall input:focus-visible {
  outline: unset;
}

.modall label {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  margin-bottom: 24px;
  text-align: left !important;
}
</style>